body {
    
}

.titulo-principal{
    padding-left: 20px;
}

#banner {
    width: 100%;

}

.Principal{
    background: #CCCCCC;
    padding: 30px;
}

.titulo-centralizado {
    text-align: center;
}
p {
    text-align: center;
    
}

#missao {
    font-size: 20px;
}

em strong {
    color: red;
}

.itens {
    font-style: italic;
}

.Beneficios {
    background: #FFFFFF;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    border-right: 15%;
}
.imagemBeneficios{
    width: 50%;
}